body{
    background-color: grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    text-align: center;

}

/* ANCHOR LINK STYLE */
a{
    text-decoration: none;
    color: white;
}
a:visited{
    color: white;
}



/*BLIND TITLE ANIMATION*/
#hideTitle{
    font-size: 80px;
    cursor: pointer;
  transition: 0.3s ease;
  color: grey;

}
#hideTitle.hovered{
    color: black;
}
/* BLIND TAC TOE STYLES */

.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
   box-shadow: 0 0 0 2px;
   line-height: 75px;
   font-size: 50px;
   cursor: pointer;
}

/* Highlight cells based on conditions */
.invalid {
    background-color: red;
  
  }
  
.win{
    background-color: rgb(28, 241, 56);
}


#cellContainer{
    display:grid;
    grid-template-columns: repeat(3, auto);
    width: 225px;
    margin: auto;
}

#restartButton{
    cursor: pointer;
    color: red;
    margin: auto;

    font-size: 24px;
  padding: 12px 24px;
  border-radius: 10px;
}
#statusText{
    font-size: 40px;
}
/* MENU STYLES */

.game-menu ul {
   
    list-style: none;
    padding: 0;
    margin: 0;

    background-color: grey;
    font-size: 50px;
    transition: all 0.3s ease;
  }

  .game-menu ul:hover {
    background-color: rgb(43, 70, 226);

  }

  .game-info{

    font-size: 45px;
   
  }


  